@import "../../_globalColor";

.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}
.card-title {
  color: $titleColor;
  font-size: 1.375rem;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.card-subtitle {
  color: $cardSubtitle;
  font-size: 1.063rem;
  line-height: 1.5rem;
}
.certificate-card {
  background-color: $lightBackground2;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.certificate-detail-div {
  text-align: center;
}
.certificate-card:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.dark-mode.certificate-card:hover {
  box-shadow: $achievementCertificateCardHoverDark 0px 20px 30px -10px;
}
.certificate-image-div {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}
.certificate-card-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.certificate-card-footer a.certificate-tag,
.certificate-card-footer span.certificate-tag {
  background: $buttonColor;
  color: $textColorDark;
  border: solid 1px $buttonColor;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 13px 22px;
  margin: 10px 0.5rem 0.5rem 0;
  text-decoration: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
.certificate-card-footer a.certificate-tag:hover,
.certificate-card-footer span.certificate-tag:hover {
  background: $darkBoxShadow2;
  color: $buttonColor;
  transform: translateY(-3px);
}
